
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

body, html{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-size: 13px;
    padding: 0px;
}
.btn{
    border-radius:0;
}
.form-control{
    border-radius:0;
}
input{
    border-radius:0;
    cursor: pointer;
}
a{
    text-decoration: none;
    margin-bottom:5px;
}
a:hover{
    text-decoration: none;
}
